body{
    background-image: url(blue.avif);
    color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
input {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 10px;
  border-radius: 10px;
}